<h1>Data Driven</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                    formControlName="username"
            ><!-- sa formControlName direktivom  spajamo ime form controle u TS kodu sa ovim inputom -->
        </div>
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text"
                   class="form-control"
                   id="email"
                    formControlName="email"
            >
            <div *ngIf="!myForm.controls['email'].valid"
                 class="alert alert-danger">
                Email is required
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
                formControlName="password"
        >
    </div>
    <div class="radio">
        <label>
        </label>
    </div>
    <div formArrayName="pero">
        <h3>Hobbies</h3>
        <div class="form-group" *ngFor="let x of hobbies.controls; let i = index">

            <input
                    formControlName="{{i}}"
                    type="text"
                   class="form-control"
            >
        </div>
    </div>

    <button type="button" class="btn btn-default" (click)="addNewHobbie()" >Add Hobby</button>
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
</form>
